.form__title {
  margin-left: 20px;
}
.form-section {
  padding: 20px;
}

.form__todo {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.form__field {
  width: 100%;
}

.form__label {
  font-weight: 500;
}

.form__input {
  width: 200px;
}

.gustom-select {
  width: 200px;
}

.form__btn {
  width: 200px;
  padding: 11px 18px;
  font-weight: 500;
  cursor: pointer;
}
