@use '@angular/material' as mat;

.form__title {
  margin-left: 20px;
}
.form-section {
  padding: 20px;
}

.form__todo {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.form__label {
  font-weight: 500;
}

.form__input {
  width: 200px;
  border: 1px solid #111;
}

.gustom-select {
  width: 200px;
}

.form__btn {
  width: 200px;
  padding: 11px 18px;
  font-weight: 500;
  cursor: pointer;
}
