.form-todo {
  padding: 20px;
}

.form-todo__title {
  margin-left: 20px;
}

.form-todo__container {
  max-width: 400px;
  width: 100%;
  margin-top: 15px;
}

.form-todo__field {
  width: 100%;
  margin-bottom: 15px;
}

.form-todo__label {
  font-weight: 500;
}

.form-todo__input {
  width: 200px;
}

.form-todo__btn {
  margin-top: 20px;
}