<h1 class="form__title">Добавить задачу</h1>
<div class="form-section">
  <form [formGroup]="form" class="form__todo" (ngSubmit)="submitForm()">
    <p class="form__label">Текст задачи</p>
    <input type="text" class="form__input" formControlName="title" />
    <div
    *ngIf="form.controls['title'].invalid && (form.controls['title'].dirty || form.controls['title'].touched)" class="alert"
  >
    <div *ngIf="form.controls['title'].errors" style="color: red">
      Введите коректное имя
    </div>
  </div>

    <p class="form__label">Автор задачи</p>
    <input type="text" class="form__input" formControlName="userId" />

    <p class="form__label">ЗАДАЧА ЗАВЕРШЕНА</p>
    <select formControlName="completed" class="gustom-select">
      <option class="option" [value]="true">Да</option>
      <option class="option" [value]="false">Нет</option>
    </select>
    
    <button type="submit" class="form__btn" [disabled]="form.invalid">
      СОЗДАТЬ ЗАДАЧУ
    </button>
  </form>
</div>
