<h1 class="form__title">Добавить карточку</h1>
<div class="form-section">
  <form class="form__user" [formGroup]="form">
    <mat-form-field class="form__field">
      <mat-label>NAME</mat-label>
      <input matInput class="form__input" formControlName="name" />
      <mat-error>Введите коректное название!</mat-error>
    </mat-form-field>

    <mat-form-field class="form__field">
      <mat-label>EMAIL</mat-label>
      <input matInput class="form__input" formControlName="email" />
      @if (form.get('email')?.hasError('email') &&
      form.get('email')!.hasError('required')) {
      <mat-error>Пожалуйста введите правильное значение</mat-error>
      } @if (form.get('email')?.hasError('required')) {
      <mat-error>Email <strong>обязателен</strong></mat-error>
      }
    </mat-form-field>

    <mat-form-field class="form__field">
      <mat-label>WEBSITE</mat-label>
      <input matInput class="form__input" formControlName="website" />
      <mat-error>Введите коректное название!</mat-error>
    </mat-form-field>

    <mat-form-field class="form__field">
      <mat-label>COMPANY-NAME</mat-label>
      <input matInput class="form__input" formControlName="companyName" />
      <mat-error>Введите коректное название!</mat-error>
    </mat-form-field>

    <button type="submit" mat-raised-button (click)="submitForm()" [disabled]="form.invalid" class="form__btn">
      CREATE USER
    </button>
  </form>
</div>
