<header class="header">
  <div class="header-top">
    <div class="container">
      <div class="header-menu">
        <a href="" class="header__logo">
          <img src="../assets/icons/logo-icon.svg" alt="" />
        </a>

        <nav class="navbar-menu">
          <ul class="navbar-menu__list">
            <li class="navbar-menu__item">
              <a href="" class="navbar-menu__link" routerLink="/">{{
                headerNavLink1
              }}</a>
            </li>

            <li class="navbar-menu__item">
              <a href="" class="navbar-menu__link">{{ aboutCompany }}</a>
            </li>

            <li class="navbar-menu__item">
              <a href="" class="navbar-menu__link" routerLink="/users">{{
                headerNavLink3
              }}</a>
            </li>

            <li class="navbar-menu__item">
              <a href="" class="navbar-menu__link" routerLink="/todos">Todo</a>
            </li>

            <li class="navbar-menu__item">
              <a href="" class="navbar-menu__link" routerLink="/admin"
                >Админка</a
              >
            </li>
          </ul>
        </nav>

        <div class="header-actions">
          <p class="header-actions__date">{{ today | date : "medium" }}</p>

          <a href="tel:+79650842929" class="header-actions__phone-link">
            <img src="../assets/icons/phone-icon.svg" alt="" />
            <span class="header-actions__phone-number">+7 (965) 084-29-29</span>
          </a>

          <a href="" class="header-actions__favorites">
            <img src="../assets/icons/favorites-icon.svg" alt="" />
          </a>

          <a class="header-actions__basket" appHoverHighlight>
            <img src="../assets/icons/basket-icon.svg" alt="" />
            <span>Пусто</span>
          </a>

          <button
            class="header-actions__btn"
            mat-raised-button
            (click)="openDialog()"
            *ngIf="(userService.users$ | async) === null"
          >
            Войти
          </button>
          <button
            mat-raised-button
            class="header-actions__btn"
            (click)="logout()"
            *ngIf="(userService.users$ | async) !== null"
          >
            Выйти
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="header-bottom">
    <div class="container">
      <div class="header-catalog">
        <button class="header-catalog__btn-menu" type="button">
          <img src="../assets/icons/menu-icon.svg" alt="" />
        </button>

        <nav class="navbar-catalog">
          <ul class="navbar-catalog__list">
            <li class="navbar-catalog__item" *ngFor="let item of menuItems">
              <button class="navbar-catalog__btn">{{ item }}</button>
            </li>
          </ul>
        </nav>

        <div class="header-search-bar">
          <div class="header-search-bar__block">
            <input
              type="text"
              class="header-search-bar__input"
              placeholder="Поиск, например Круг зачистной "
            />
            <button class="header-search-bar__btn">
              <img src="../assets/icons/search-icon.svg" alt="" />
            </button>
          </div>

          <a href="" class="header-search-bar__location">
            <img src="../assets/icons/map-icon.svg" alt="" />
            <span>Москва</span>
          </a>
        </div>
      </div>

      <button (click)="changeMenuText()">Изменить размер текста</button>
    </div>
  </div>
</header>
