<div class="task__item">
  <p>ТЕКСТ ЗАДАЧИ:</p>
  <p class="task___desc">{{ todo.title }}</p>
  <p>АВТОР ЗАДАЧИ</p>
  <p class="task___id">{{ todo.userId }}</p>
  <p>ЗАДАЧА ЗАВЕРШЕНА</p>
  <p class="task__boolean">
    {{ todo.completed ? "да" : "нет" }}
  </p>
  <div class="task__actions">
    <button
      class="task__btn-delete"
      mat-raised-button
      (click)="openDeleteConfirmationDialog()"
    >
      Удалить
    </button>
  </div>
</div>
<!-- <button class="task__btn" (click)="onDeleteTodo(todo.id!)">
    УДАЛИТЬ ЗАДАЧУ
  </button> -->
