<div class="card__item" appHoverShadow>
  <h1>Пользователь</h1>
  <h4 class="card__title">{{ user.name | customUpperCase }}</h4>
  <p class="card___desc">{{ user.email }}</p>
  <p class="card___user-name">{{ user.website }}</p>
  <p class="card__street">{{ user.company.name }}</p>
  <p class="card__street">{{ user.phone | removeDashes }}</p>

  <div class="card__actions">
    <button
      class="card__btn-delete"
      mat-raised-button
      matTooltip="Удалить пользователя"
      matTooltipPosition="above"
      (click)="openDeleteConfirmationDialog()"
    >
      Удалить
    </button>
    <button
      class="card__btn-edit"
      matTooltip="Редактировать пользователя"
      matTooltipPosition="above"
      mat-raised-button
      (click)="openDialog()"
    >
      Редактировать
    </button>
  </div>
</div>
