:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

@mixin container-styles {
  max-width: 1440px;
  margin: 0px auto;
  padding-inline: 12px;
}

.container {
  @include container-styles;
}

/*--------------------------------------------------------------
# Header Section
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  max-width: 1920px;
  width: 100%;
  margin: 0px auto;

  img {
    max-width: 100%;
  }
}

/*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/
.services {
  max-width: 1920px;
  margin: 0px auto;
  padding: 31px 0 56px 0;
  background: #fbfbfb;
}

.services-top {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 28px;
}

.services-item {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.services-item__title {
  font-weight: 500;
  font-size: 18px;
  color: #3c3c3b;
}

.services-item__description {
  margin: 0px;
  font-size: 18px;
  color: #a1a0a0;

  span {
    color: #3c3c3b;
  }
}

.services-bottom {
  width: 100%;
  margin-top: 28px;
}

.services-pagination {
  display: flex;
  justify-content: end;
  column-gap: 16px;
}

.services-pagination__link {
  font-weight: 400;
  font-size: 16px;
  color: #a1a0a0;
  text-decoration: none;
}

.services-pagination .active {
  color: #f0ba4e;
}
.services-content {
  margin-top: 16px;
}

.services-content__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 428px;
  grid-template-areas:
    "tool enamel dye-color"
    "tool foam sockets";
}

.services-content__item {
  background: #ffffff;
  box-sizing: border-box;
  padding: 16px;
  box-shadow: 0px 20px 50px 0px rgba(60, 60, 59, 0.07);
}

.services-content__item_tool {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: tool;
  background-image: url("../assets/icons/tool-icon.svg");
  background-repeat: no-repeat;
  background-position: bottom left;
  margin-right: 28px;

  .services-content__link {
    align-self: end;
  }
}

.services-content__item_enamel {
  grid-area: enamel;
  height: 200px;
  display: grid;
  justify-content: flex-end;
  background-image: url("../assets/icons/enamel-icon.svg");
  background-repeat: no-repeat;
  background-position: bottom left;
  margin-right: 28px;

  .services-content__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.services-content__item_foam {
  grid-area: foam;
  display: flex;
  height: 200px;
  margin-top: 28px;
  background-image: url("../assets/icons/foam-icon.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
  margin-right: 28px;

  .services-content__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.services-content__item_dye-color {
  grid-area: dye-color;
  display: flex;
  height: 200px;
  background-image: url("../assets/icons/dye-color-icon.svg");
  background-repeat: no-repeat;
  background-position: right bottom;

  .services-content__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.services-content__item_sockets {
  grid-area: sockets;
  display: grid;
  height: 200px;
  margin-top: 28px;
  background-image: url("../assets/icons/sockets-icon.svg");
  background-repeat: no-repeat;
  background-position: left bottom;

  .services-content__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .services-content__link {
    align-self: end;
  }
}

.services-content__title {
  font-size: 28px;
  font-weight: 600;
}
.services-content__link {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.services-content__link span {
  white-space: nowrap;
  font-size: 14px;
  font-weight: 400;
  color: #3c3c3b;
}

/*--------------------------------------------------------------
# Popular Section
--------------------------------------------------------------*/
.popular {
  max-width: 1920px;
  margin: 0px auto;
  padding-bottom: 56px;
  background: #fbfbfb;
  position: relative;
  z-index: 4;
}

.popular-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-top__title {
  font-size: 28px;
  font-weight: 500;
  color: #000000;
}

.popular-top__link {
  font-size: 18px;
  font-weight: 600;
  color: #f0ba4e;
}
.popular-bottom {
  margin-top: 28px;
}
.product-card__list {
  display: grid;
  grid-template-columns: 309px 309px 309px 309px;
  column-gap: 28px;
  justify-content: space-between;
  position: relative;
  z-index: 10;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 0px;
    z-index: 5;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-image: url("../assets/icons/arrow-left-icon.svg");
    background-size: 16px;
    background-position: center;
    background-repeat: no-repeat;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
    right: 13px;
    z-index: 5;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-image: url("../assets/icons/arrow-right-icon.svg");
    background-size: 16px;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.product-card__item {
  display: grid;
  max-height: 429px;
  grid-template-rows: 180px 1fr;
  row-gap: 30px;
  padding: 24px;
  background: #ffffff;
  position: relative;
  z-index: 0;
  box-shadow: 0px 20px 50px 0px rgba(18, 17, 39, 0.08);
}

.product-card__header {
  display: flex;
  justify-content: space-between;
}

.product-card__labels {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
}

.product-card__new {
  width: 109px;
  padding: 10px 20px;
  border-radius: 54px;
  color: #ffffff;
  background: #08c785;
}

.product-card__btn-discount {
  background: none;
  border: none;
  padding: 0;
}

.product-card__btn-favorites {
  display: flex;
  background: none;
  border: none;
  color: #3c3c3b;
  position: relative;
  padding-top: 10px;
  cursor: pointer;
}

.product-card__body {
  position: relative;
}

.product-card__img {
  position: absolute;
  z-index: -1;
}

.product-card__info {
  position: relative;
  top: -20px;
}

.product-card__title {
  font-size: 20px;
  font-weight: 600;
  color: #3c3c3b;
}

.product-card__articul {
  font-size: 16px;
  font-weight: 500;
  color: #3c3c3b;
  margin-top: 8px;
}

.product-card__price-unit {
  font-size: 16px;
  font-weight: 500;
  color: #a1a0a0;
  margin-top: 20px;
}

.product-card__price-block {
  margin-top: 6px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.product-card__price-old {
  text-decoration: line-through;
  font-size: 16px;
  font-weight: 600;
  color: #3c3c3b;
}

.product-card__price-current {
  font-weight: 600;
  font-size: 20px;
  color: #3c3c3b;
}

.product-card__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.product-card__counter p {
  font-weight: 500;
  font-size: 16px;
  color: #3c3c3b;
}

.product-card__control {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.product-card__quantity {
  display: flex;
  gap: 16px;
}

.product-card__quantity-minus {
  font-weight: 400;
  font-size: 16px;
  border: none;
  background: none;
  color: #3c3c3b;
  padding: 0;
  cursor: pointer;
}

.product-card__quantit-value {
  width: 10px;
  border: none;
  font-size: 20px;
  font-weight: 500;
  color: #3c3c3b;
}

.product-card__quantity-plus {
  font-weight: 400;
  font-size: 16px;
  border: none;
  background: none;
  color: #3c3c3b;
  cursor: pointer;
}

.product-card__basket-btn {
  width: 135px;
  padding: 14px 28px;
  background: none;
  border: 1px solid #f0ba4e;
  border-radius: 54px;
  white-space: nowrap;
  color: #3c3c3b;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

/*--------------------------------------------------------------
# Catalog-promo Section
--------------------------------------------------------------*/
.catalog-promo {
  max-width: 1920px;
  margin: 0px auto;
  background: #fbfbfb;
}

.catalog-promo__inner {
  display: flex;
  flex-direction: column;
  height: 251px;
  padding: 28px;
  background: #f6f6f6;
  background-image: url("../assets/img/banner-catalog.png");
  background-repeat: no-repeat;
  background-position: right;
}

.catalog-promo__title {
  font-size: 28px;
  text-transform: uppercase;
  color: #3c3c3b;
  font-weight: 500;
}

.catalog-promo__description {
  margin-top: 16px;
  font-weight: 400;
  font-size: 20px;
  color: #a1a0a0;
}

.catalog-promo__link {
  margin-top: auto;
  font-weight: 600;
  font-size: 18px;
  color: #f0ba4e;
}

/*--------------------------------------------------------------
# New Section
--------------------------------------------------------------*/
.new {
  max-width: 1920px;
  margin: 0px auto;
  padding: 56px 0px 48px 0px;
  background: #fbfbfb;
  position: relative;
  z-index: 4;
}

.new-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-top__title {
  font-size: 28px;
  font-weight: 500;
  color: #f0ba4e;
}

.new-top__link {
  font-size: 18px;
  font-weight: 600;
  color: #f0ba4e;
}
.new-bottom {
  margin-top: 28px;
}

/*--------------------------------------------------------------
# Footer Section
--------------------------------------------------------------*/
.footer {
  max-width: 1920px;
  margin: 0px auto;
  background: #4b565e;
  padding: 34px 0px 32px 0px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 148px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 1px;
    background: #566169;
    border-radius: 2px;
  }
}

.footer-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    height: 138%;
    background: #566169;
    margin-top: -34px;
  }
}

.footer__contacts-wrapper {
  margin-top: 32px;
  display: flex;
  column-gap: 58px;
}

.footer__contact {
  font-weight: 400;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);

  &::before {
    content: url("../assets/icons/phone-footer-Icon.svg");
    margin-right: 12px;
    position: relative;
    top: 6px;
  }
}

.footer__contact-link {
  display: inline-block;
  margin: 8px 0px 0px 36px;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}

.footer__mail {
  font-weight: 400;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);

  &::before {
    content: url("../assets/icons/mail-Icon.svg");
    margin-right: 12px;
    position: relative;
    top: 6px;
  }
}

.footer__mail-link {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  margin: 8px 0px 0px 36px;
}

.footer-newsletter {
  margin-left: auto;

  h4 {
    font-weight: 700;
    font-size: 18px;
    margin: 0;
    color: #ffffff;
  }

  p {
    width: 534px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 12px;
  }
}

.footer__input-block {
  position: relative;
  margin-top: 32px;

  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    background-image: url("../assets/icons/input-arrow-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    top: 5px;
    left: 30px;
    width: 25px;
    height: 25px;
    font-size: 25px;
    position: absolute;
    cursor: pointer;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.footer__input {
  width: 534px;
  padding: 16px 0 16px 48px;
  border-radius: 30px;
  border: 1px solid #f0ba4e;
  background: none;
  color: rgba(255, 255, 255, 0.6);

  &::placeholder {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
  }
}

.footer__btn {
  font-weight: 700;
  font-size: 10px;
  text-align: center;
  padding: 12px 19px;
  color: #ffffff;
  background: #f0ba4e;
  border: none;
  border-radius: 30px;
  position: absolute;
  cursor: pointer;
  top: 50%;
  transform: translate(-50%, -50%);
  right: -37px;
}

.footer-bottom {
  margin-top: 68px;
}

.footer__nav-list {
  display: flex;
  gap: 28px;
}

.footer__nav-link {
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
}

.footer__info {
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__social-links {
  display: flex;
  gap: 20px;
}

.copyright {
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}
