<header class="header">
  <div class="header-top">
    <div class="container">
      <div class="header-menu">
        <a href="" class="header__logo">
          <img src="../assets/icons/logo-icon.svg" alt="" />
        </a>

        <nav class="navbar-menu">
          <ul class="navbar-menu__list">
            <li class="navbar-menu__item">
              <a href="" class="navbar-menu__link">Главная</a>
            </li>

            <li class="navbar-menu__item">
              <a href="" class="navbar-menu__link">О компании</a>
            </li>

            <li class="navbar-menu__item">
              <a href="" class="navbar-menu__link">Каталог</a>
            </li>
          </ul>
        </nav>

        <div class="header-actions">
          <a href="tel:+79650842929" class="header-actions__phone-link">
            <img src="../assets/icons/phone-icon.svg" alt="" />
            <span class="header-actions__phone-number">+7 (965) 084-29-29</span>
          </a>

          <a href="" class="header-actions__favorites">
            <img src="../assets/icons/favorites-icon.svg" alt="" />
          </a>

          <a class="header-actions__basket">
            <img src="../assets/icons/basket-icon.svg" alt="" />
            <span>Пусто</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="header-bottom">
    <div class="container">
      <div class="header-catalog">
        <button class="header-catalog__btn-menu" type="button">
          <img src="../assets/icons/menu-icon.svg" alt="" />
        </button>
        <nav class="navbar-catalog">
          <ul class="navbar-catalog__list">
            <li class="navbar-catalog__item">
              <a href="" class="navbar-catalog__link">Каталог</a>
            </li>
            <li class="navbar-catalog__item">
              <a href="" class="navbar-catalog__link">Стройматериалы</a>
            </li>
            <li class="navbar-catalog__item">
              <a href="" class="navbar-catalog__link">Инструменты</a>
            </li>
            <li class="navbar-catalog__item">
              <a href="" class="navbar-catalog__link">Электрика</a>
            </li>
            <li class="navbar-catalog__item">
              <a href="" class="navbar-catalog__link">Интерьер и отделка</a>
            </li>
          </ul>
        </nav>

        <div class="header-search-bar">
          <div class="header-search-bar__block">
            <input
              type="text"
              class="header-search-bar__input"
              placeholder="Поиск, например Круг зачистной "
            />
            <button class="header-search-bar__btn">
              <img src="../assets/icons/search-icon.svg" alt="" />
            </button>
          </div>

          <a href="" class="header-search-bar__location">
            <img src="../assets/icons/map-icon.svg" alt="" />
            <span>Москва</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>

<main class="content">
  <section class="hero">
    <img src="../assets/img/banner.png" alt="" />
  </section>

  <section class="services">
    <div class="container">
      <div class="services-top">
        <div class="services-item">
          <div class="services-item__icon">
            <img src="../assets/icons/assortment.svg" alt="" />
          </div>

          <div>
            <h4 class="services-item__title">Большой ассортимент</h4>
            <p class="services-item__description">
              строительных материалов всегда в наличии
            </p>
          </div>
        </div>

        <div class="services-item">
          <div class="services-item__icon">
            <img src="../assets/icons/delivery-icon.svg" alt="" />
          </div>

          <div>
            <h4 class="services-item__title">Доставка стройматериалов</h4>
            <p class="services-item__description">
              в течении четырех часов или в любое удобное время
            </p>
          </div>
        </div>

        <div class="services-item">
          <div class="services-item__icon">
            <img src="../assets/icons/like-icon.svg" alt="" />
          </div>

          <div>
            <p class="services-item__description">
              Многоуровневая <span>система управления качеством</span> по
              стандарту ISO 9001
            </p>
          </div>
        </div>
      </div>

      <div class="services-bottom">
        <div class="services-pagination">
          <a href="#" class="services-pagination__link active">1</a>
          <a href="#" class="services-pagination__link">2</a>
          <a href="#" class="services-pagination__link">3</a>
          <a href="#" class="services-pagination__link">4</a>
          <a href="#" class="services-pagination__link">5</a>

        </div>

        <div class="services-content">
          <ul class="services-content__list">
            <li class="services-content__item services-content__item_tool">
              <h4 class="services-content__title">
                Строительный отделочный инструмент
              </h4>
              
              <img
                src="../assets/icons/tool-icon.svg"
                alt=""
                class="services-content__img"
              />
              <a href="" class="services-content__link">
                <span>Перейти в каталог</span>
                <img src="../assets/icons/arrow-icon.svg" alt="" />
              </a>            </li>

            <li class="services-content__item services-content__item_enamel">
              <img
                src="../assets/icons/enamel-icon.svg"
                alt=""
                class="services-content__img"
              />
              <div class="services-content__info">
                <h4 class="services-content__title">Эмали</h4>
                <a href="" class="services-content__link">
                  <span>Перейти в каталог</span>
                  <img src="../assets/icons/arrow-icon.svg" alt="" />
                </a>
              </div>
            </li>

            <li class="services-content__item services-content__item_foam">
              <img
                src="../assets/icons/foam-icon.svg"
                alt=""
                class="services-content__img"
              />
              <div class="services-content__info">
                <h4 class="services-content__title">Пены, клеи и герметики</h4>
                <a href="" class="services-content__link">
                  <span>Перейти в каталог</span>
                  <img src="../assets/icons/arrow-icon.svg" alt="" />
                </a>
              </div>
            </li>

            <li class="services-content__item services-content__item_dye-color">
              <h4 class="services-content__title">
                Лакокрасочные <br />
                материалы
              </h4>

              <img
                src="../assets/icons/dye-color-icon.svg"
                alt=""
                class="services-content__img"
              />

              <a href="" class="services-content__link">
                <span>Перейти в каталог</span>
                <img src="../assets/icons/arrow-icon.svg" alt="" />
              </a>
            </li>

            <li class="services-content__item services-content__item_sockets">
              <h4 class="services-content__title">Розетки и выключатели</h4>
              <img
                src="../assets/icons/sockets-icon.svg"
                alt=""
                class="services-content__img"
              />
              <a href="" class="services-content__link">
                <span>Перейти в каталог</span>
                <img src="../assets/icons/arrow-icon.svg" alt="" />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

</main>
