* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

p {
  margin: 0;
}

:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

@mixin container-styles {
  max-width: 1440px;
  margin: 0px auto;
  padding-inline: 12px;
}

.container {
  @include container-styles;
}

/*--------------------------------------------------------------
# Hero Header
--------------------------------------------------------------*/
.header {
  max-width: 1920px;
  margin: 0px auto;
}

.header-top {
  width: 100%;
  background-color: #4b565e;
}

.header-menu {
  display: flex;
  align-items: center;
  height: 80px;
}

.header__logo {
  margin-right: 40px;
}

.navbar-menu__list {
  display: flex;
  align-items: center;
  padding-left: 0px;
}

.navbar-menu__item {
  margin-right: 24px;
}

.navbar-menu__link {
  font-size: 16px;
  color: #f9fafb;
  text-decoration: none;
}

.header-actions {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-actions__phone-link {
  display: inline-flex;
  align-items: center;
  column-gap: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0px;
  color: #ffffff;
  text-decoration: none;
  margin-right: 40px;
}

.header-actions__favorites {
  display: inline-flex;
  margin-right: 40px;
}

.header-actions__basket {
  width: 106px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  border: 1px solid #f0ba4e;
  border-radius: 50px;
  padding: 10px;
  cursor: pointer;

  span {
    font-size: 16px;
    color: #f9fafb;
  }
}

.header-bottom {
  width: 100%;
  background: #f0ba4e;
  margin: 0px auto;
}

.header-catalog {
  height: 48px;
  display: flex;
  align-items: center;
}

.header-catalog__btn-menu {
  background: #f0ba4e;
  border: none;
  margin-right: 10px;
}

.navbar-catalog__list {
  padding-left: 0px;
  display: flex;
  align-items: center;
}

.navbar-catalog__item {
  margin-right: 24px;
}

.navbar-catalog__link {
  text-decoration: none;
  color: #3c3c3b;
  font-size: 14px;
  font-weight: 600;
}

.header-search-bar {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.header-search-bar__block {
  display: flex;
  align-items: center;
  position: relative;
}

.header-search-bar__input {
  width: 400px;
  height: 28px;
  color: #4b565e99;
  font-size: 16px;
  background: none;
  border: none;
  border-bottom: 1px solid #3c3c3b;
}

.header-search-bar__btn {
  position: relative;
  left: -28px;
  top: 3px;
  background: none;
  border: none;
}

.header-search-bar__location {
  display: flex;
  align-items: center;
  column-gap: 4px;
  text-decoration: none;

  span {
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
    border-bottom: none;
  }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  max-width: 1920px;
  width: 100%;
  margin: 0px auto;

  img {
    max-width: 100%;
  }
}

/*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/
.services {
  max-width: 1920px;
  margin: 0px auto;
  padding-top: 31px;
  background: rgb(251, 251, 251);
}

.services-top {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 28px;
}

.services-item {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.services-item__title {
  font-weight: 500;
  font-size: 18px;
  color: #3c3c3b;
}

.services-item__description {
  margin: 0px;
  font-size: 18px;
  color: #a1a0a0;

  span {
    color: #3c3c3b;
  }
}

.services-bottom {
  width: 100%;
  margin-top: 28px;
}

.services-pagination {
  display: flex;
  justify-content: end;
  column-gap: 16px;
}

.services-pagination__link {
  font-weight: 400;
  font-size: 16px;
  color: #a1a0a0;
  text-decoration: none;
}

.services-pagination .active {
  color: #f0ba4e;
}
.services-content {
  margin-top: 16px;
}

.services-content__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 428px;
  grid-template-areas:
    "tool enamel dye-color"
    "tool foam sockets";
}

.services-content__item {
  background: rgb(255, 255, 255);
  box-sizing: border-box;
  padding: 16px;
  box-shadow: 0px 20px 50px 0px rgba(60, 60, 59, 0.07);
}

.services-content__item_tool {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: tool;
  background-image: url(../assets/icons/tool-icon.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
  margin-right: 28px;

  .services-content__link {
    align-self: end;
  }
}

.services-content__item_enamel {
  grid-area: enamel;
  height: 200px;
  display: grid;
  justify-content: flex-end;
  background-image: url(../assets/icons/enamel-icon.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
  margin-right: 28px;

  .services-content__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.services-content__item_foam {
  grid-area: foam;
  display: flex;
  height: 200px;
  margin-top: 28px;
  background-image: url(../assets/icons/foam-icon.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  margin-right: 28px;

  .services-content__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.services-content__item_dye-color {
  grid-area: dye-color;
  display: flex;
  height: 200px;
  background-image: url(../assets/icons/dye-color-icon.svg);
  background-repeat: no-repeat;
  background-position: right bottom;

  .services-content__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.services-content__item_sockets {
  grid-area: sockets;
  display: grid;
  height: 200px;
  margin-top: 28px;
  background-image: url(../assets/icons/sockets-icon.svg);
  background-repeat: no-repeat;
  background-position: left bottom;

  .services-content__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .services-content__link {
    align-self: end;
  }
}

.services-content__title {
  font-size: 28px;
  font-weight: 600;
}
.services-content__link {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.services-content__link span {
  white-space: nowrap;
  font-size: 14px;
  font-weight: 400;
  color: #3c3c3b;
}

/*--------------------------------------------------------------
# Popular Section
--------------------------------------------------------------*/
.popular {
  max-width: 1920px;
  margin: 0px auto;
  padding-top: 76px;
  background: rgb(251, 251, 251);
  position: relative;
  z-index: 4;
}

.popular-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-top__title {
  font-size: 28px;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
}

.popular-top__link {
  font-size: 18px;
  font-weight: 600;
  color: rgba(240, 186, 78, 1);
}
.popular-bottom {
  margin-top: 28px;
}
.popular-card__list {
  display: grid;
  grid-template-columns: 309px 309px 309px 309px;
  column-gap: 28px;
  justify-content: space-between;

  position: relative;
  &::after {
    content: url(../assets/icons/arrow-left-icon.svg);
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: -15px;
    z-index: 5;
  }

  &::before {
    content: url(../assets/icons/arrow-right-icon.svg);
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
    right: -15px;
    z-index: 5;
  }
}

.popular-card__item {
  display: grid;
  max-height: 429px;
  grid-template-rows: 180px 1fr;
  row-gap: 30px;
  padding: 24px;
  background: rgba(255, 255, 255, 1);
  position: relative;
  z-index: 3;
  box-shadow: 0px 20px 50px 0px rgba(18, 17, 39, 0.08);
}

.popular-card__header {
  display: flex;
  justify-content: space-between;
}

.popular-card__labels {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
}

.popular-card__new {
  width: 109px;
  padding: 10px 20px;
  border-radius: 54px;

  color: rgba(255, 255, 255, 1);
  background: rgba(8, 199, 133, 1);
}

.popular-card__btn-discount {
  background: none;
  border: none;
  padding: 0;
}

.popular-card__btn-favorites {
  display: flex;
  background: none;
  border: none;
  color: rgba(60, 60, 59, 1);
  position: relative;
  padding-top: 10px;
  cursor: pointer;
}

.popular-card__body {
  position: relative;
}

.popular-card__img {
  position: absolute;
  z-index: -1;
}

.popular-card__info {
  position: relative;
  top: -20px;
}

.popular-card__title {
  font-size: 20px;
  font-weight: 600;
  color: rgba(60, 60, 59, 1);
}

.popular-card__articul {
  font-size: 16px;
  font-weight: 500;
  color: rgba(60, 60, 59, 1);
  margin-top: 8px;
}

.popular-card__price-unit {
  font-size: 16px;
  font-weight: 500;
  color: rgba(161, 160, 160, 1);
  margin-top: 20px;
}

.popular-card__price-block {
  margin-top: 6px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.popular-card__price-old {
  text-decoration: line-through;
  font-size: 16px;
  font-weight: 600;
  color: rgba(60, 60, 59, 1);
}

.popular-card__price-current {
  font-weight: 600;
  font-size: 20px;
  color: rgba(60, 60, 59, 1);
}

.popular-card__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.popular-card__counter p {
  font-weight: 500;
  font-size: 16px;
  color: rgba(60, 60, 59, 1);
}

.popular-card__control {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.popular-card__quantity {
  display: flex;
  gap: 16px;
}

.popular-card__quantity-minus {
  font-weight: 400;
  font-size: 16px;
  border: none;
  background: none;
  color: rgba(60, 60, 59, 1);
  padding: 0;
}

.popular-card__quantit-value {
  width: 10px;
  border: none;
  font-size: 20px;
  font-weight: 500;
  color: rgba(60, 60, 59, 1);
}

.popular-card__quantity-plus {
  font-weight: 400;
  font-size: 16px;
  border: none;
  background: none;
  color: rgba(60, 60, 59, 1);
}

.popular-card__basket-btn {
  width: 135px;
  padding: 14px 28px;
  background: none;
  border: 1px solid rgba(240, 186, 78, 1);
  border-radius: 54px;
  white-space: nowrap;
  color: rgba(60, 60, 59, 1);
  font-weight: 500;
  font-size: 16px;
}
