.card {
  max-width: 1920px;
  margin: 0px auto;
}

.card-inner {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 20px;
  padding-inline: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}


