.form-user {
  padding: 20px;
}

.form-user__container {
  margin-top: 20px;
}

.form-user__container {
  max-width: 400px;
  width: 100%;
}

.form-user__fiield {
  width: 100%;
  margin-top: 15px;
}

.form-user__label {
  font-weight: 500;
}

.form-user__input {
  width: 100%;
}

.form-user__btn {
  margin-top: 20px;
}
