<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <div class="footer-info">
        <a href="#" class="footer__logo">
          <img src="../assets/icons/logo-icon.svg" alt="" />
        </a>

        <div class="footer__contacts-wrapper">
          <div class="footer__contact-block">
            <p class="footer__contact">Контактный телефон</p>
            <a href="tel:+78123090934" class="footer__contact-link"
              >+ 7 (812) 309-09-34</a
            >
            <br />
            <a href="tel:+79650842929" class="footer__contact-link"
              >+ 7 (965) 084-29-09</a
            >
          </div>
          <div class="footer__mail-block">
            <p class="footer__mail">Электронная почта</p>
            <a href="mailto:tustin78@mail.ru" class="footer__mail-link"
              >tustin78&#64;mail.ru</a
            >
            <br />
            <a href="mailto:info@tustin.ru" class="footer__mail-link"
              >info&#64;tustin.ru</a
            >
          </div>
        </div>
      </div>

      <div class="footer-newsletter">
        <h4>Остались вопросы?</h4>

        <p>
          Узнавайте первым о скидках, предложениях и событиях еженедельно в
          своем почтовом ящике. Отпишитесь в любое время одним щелчком мыши.
        </p>

        <div class="footer__input-block">
          <input
            type="text"
            placeholder="Введите свою почту"
            class="footer__input"
          />
          <button class="footer__btn">Отправить</button>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <nav class="footer__nav">
        <ul class="footer__nav-list">
          <li class="footer__nav-item">
            <a href="#" class="footer__nav-link">Главная</a>
          </li>
          <li class="footer__nav-item">
            <a href="#" class="footer__nav-link">О коппании</a>
          </li>
          <li class="footer__nav-item">
            <a href="#" class="footer__nav-link">Каталог</a>
          </li>
        </ul>
      </nav>

      <div class="footer__info">
        <div class="footer__social-links">
          <a href="#" class="footer__social-facebook">
            <img src="../assets/icons/facebook-icon.svg" alt="" />
          </a>
          <a href="#" class="footer__social-youtube">
            <img src="../assets/icons/youtube-icon.svg" alt="" />
          </a>
          <a href="#" class="footer__social-whatsapp">
            <img src="../assets/icons/whatsapp-icon.svg" alt="" />
          </a>
        </div>

        <div class="copyright">
          <p>© 2021-2022, EDE</p>
        </div>
      </div>
    </div>
  </div>
</footer>
