.form-section {
  padding: 20px;
}

.form__user {
  max-width: 400px;
  width: 100%;
}

.form__field {
  width: 100%;
}

.form__label {
  font-weight: 500;
}

.form__input {
  width: 100%;
}

.form__btn {
  width: 200px;
  padding: 11px 18px;
  font-weight: 500;
  cursor: pointer;
}
