<div class="form-section">
  <h1>{{data.user.name}}</h1>
  <form class="form__user" [formGroup]="form">
    <mat-form-field class="form__field">
      <mat-label>Введите имя</mat-label>
      <input matInput class="form__input" formControlName="name" />
      <mat-error>Введите коректное название!</mat-error>
    </mat-form-field>

    <mat-form-field class="form__field">
      <mat-label>Введите email</mat-label>
      <input matInput class="form__input" formControlName="email" />
      @if (form.get('email')?.hasError('email') &&
      form.get('email')!.hasError('required')) {
      <mat-error>Пожалуйста введите правильное значение</mat-error>
      } @if (form.get('email')?.hasError('required')) {
      <mat-error>Email <strong>обязателен</strong></mat-error>
      }
    </mat-form-field>

    <mat-form-field class="form__field">
      <mat-label>Введите название сайта</mat-label>
      <input matInput class="form__input" formControlName="website" />
      <mat-error>Введите коректное название!</mat-error>
    </mat-form-field>

    <mat-form-field class="form__field">
      <mat-label>Введите название компании</mat-label>
      <input matInput class="form__input" formControlName="companyName" />
      <mat-error>Введите коректное название!</mat-error>
    </mat-form-field>

    <button
      type="submit"
      mat-raised-button
      matTooltip="Редактировать пользователя"
      matTooltipPosition="above"
      [mat-dialog-close]="userWithUpdateFields"
      [disabled]="form.invalid"
      class="form__btn"
    >
      сохранить
    </button>
  </form>
</div>
